<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h3 class="fontweight">Nouveau Post</h3>
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title"
               class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author">Auteur</label>
        <input type="text" id="author"
               class="form-control" formControlName="author" >
      </div>
      <div class="form-group">
        <label for="contenu">Contenu</label>
        <textarea id="content"
                  class="form-control" formControlName="content">
        </textarea>
      </div>
      <div class="form-group">
        <h4>Ajouter une photo</h4>
        <input type="file" (change)="detectFiles($event)"
               class="form-control" accept="image/*">
        <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
    </div>
    <button class="btn btn-success" [disabled]="postForm.invalid || fileIsUploading"
          type="submit">Enregistrer
    </button>
    </form>
  </div>
</div>
