.loveIts {
  background-color: rgb(83, 189, 157);
  margin-top: 10px;
  padding-top: 7px;
  padding-left: 10px;
  width: 200px;
  height: 40px;
  border-radius: .25rem;
  border: 1px solid green;
  font-weight: 500;
}
.dontloveIts {
  background-color: rgb(209, 84, 84);
  margin-top: 10px;
  padding-top: 7px;
  padding-left: 10px;
  width: 200px;
  height: 40px;
  border-radius: .25rem;
  border: 1px solid red;
  font-weight: 500;
}
.zeroloveIts {
 margin-top: 10px;
  padding-top: 7px;
  padding-left: 10px;
  width: 200px;
  height: 40px;
  border-radius: .25rem;
  border: 1px solid rgb(75, 74, 74);
  font-weight: 500;
}
