<div class="row">

  <div class="col-md">
  <h3 class="accueil fontweigtht">Bienvenue sur l'Application Blog OpenClassrooms</h3>
  <div class="container-body default-color">
    <h5>Sur notre application vous pouvez consulter tous les posts de tous les utilisateurs.</h5>
    <p></p>
    <h5>Voici quelques règles a respectées:<br><br>
       1) Pour créer ou voir un post complet:<br>
         &nbsp;&nbsp;&nbsp;&nbsp;Vous devez avoir créer un compte au préalable ou être connecté avec votre email et mot de passe<br>
       2) Pour modifier ou supprimer un de vos posts:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Vous devez être connecté à l'application Blog.</h5>
  </div>
</div>

</div>
