.container-body {
  height: 18rem;

    margin-right: 4.5rem;
   /* background-color: #3d0474; */
    border-radius: .25rem;
    padding: 20px 30px 30px 30px;
    color: white;
}
.accueil {
  margin-left: 8%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}
